/* font section style  */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

/* sared style  */
.noto_saris {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* body section style  */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.contanir{
   max-width: 1140px;
  margin: 0 auto;
  background-color: #f5f7fc;
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
 
}
/* navbar section style  */
.nav_section {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 20px;
}
.logo_img img {
  max-width: 135px;
  height: 71px;
}
nav ul {
  display: flex;
  gap: 48px;
  margin-top: 27px;
}
nav ul li {
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: rgb(137, 135, 161);
}
.nav_color {
  color: rgb(37, 36, 50);
  font-weight: 700;
}
.nav_second_color {
  color: rgb(0, 0, 0);
}
/* ALWAYS FRESH FLOWERS section  */
.fresh_flowers {
  display: flex;
  margin-top: 176px;
  align-items: end;
  justify-content: space-between;
}
.alwayea_section h2 {
  font-size: 4rem;
  color: rgb(233, 90, 8);
}

.alwayea_section h2 span {
  color: rgb(0, 0, 0);
}
.alwayea_section p {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.3rem;
}
/* our plants section style  */
.plants_section {
  margin-top: 75px;
}
.plants_section h3 {
  text-align: center;
  font-size: 3.12rem;
  margin-bottom: 15px;
}
.font_color {
  color: rgb(233, 90, 8);
}
.plants_section p {
  max-width: 888px;
  text-align: center;
  margin: 0 auto;
  font-size: 1.37rem;
  color: rgba(0, 0, 0, 0.5);
}
.plants_img_section {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.plants_img {
  text-align: center;
}
.plants_img h4 {
  font-size: 1.37rem;
  font-weight: 500;
  color: rgb(17, 17, 17);
  margin: 10px 0;
}
.plants_img span {
  font-size: 1.37rem;
  font-weight: 700;
  color: rgb(17, 17, 17);
  display: block;
}
.plants_img button {
  color: white;
  background-color: rgb(233, 90, 8);
  padding: 12px 88px;
  margin: 30px 0;
  border: none;
  max-width: 270px;
}
/* flower plants section style  */
.flower_plants {
  display: flex;
  gap: 110px;
  margin-top: 120px;
  position: relative;
}
.plant_img {
  max-width: 50%;
}

.flower_text h4 {
  font-size: 3.12rem;
  line-height: 76px;
  max-width: 400px;
}
.flower_text ul li {
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.37rem;
  padding: 25px 0;
}
.img_logo {
  position: absolute;
  top: -136px;
  left: 355px;
  width: 286px;
}
/* letes deals section style  */
.latest_text{
  text-align: center;
  margin-top: 70px;
  margin-bottom: 90px;
}
.latest_text h2{
font-size: 3.13rem;
margin-bottom: 25px;
}
.latest_text p{
max-width: 888px;
margin: 0 auto;
font-size: 1.37rem;
}
.cards {
  display: flex;
  gap: 25px;
}
.left_card{
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.right_card {
  position: relative;
  
}
.right_card img{
  border-radius: 8px;
  max-width: 753px;
}
.small_card {
  position: relative;
 
}
.small_card img{
  border-radius: 8px;
}
.text_card {
  position: absolute;
  top: 79px;
  left: 90px;
  text-align: center
}
.text_right{
  top: 174px;
  left: 194px;
}
#text{
  font-size: 2.5rem;
}
#text_small{
  font-size: 1.75rem;
  
}

.text_card h3{
  color: white;
  font-size: 1.25rem;
}
.text_card a{
  color: white;
  
}
/* joind the colorgful section style  */
.join_section{
  max-width: 1440px;
  background-image: url(../assets/news-letter-bg.png);
  background-size: cover;
  height: 533px;
  margin: 0px auto;
  margin-top: 50px;
  margin-bottom: 25px;
  
}
.form label{
  font-size: 3.12rem;
  color: white;
  display: block;
  text-align: center; 
}
.colorful {
 text-align: center;
 padding-top: 200px;
}
#email{
 padding: 10px 160px;
 border: none;
 margin-top: 10px;

}
#submit{
  padding: 10px 30px;
  background-color: rgb(233, 90, 8);
  border: none;
}
/* footer  */
footer{
  max-width: 1440px;
  margin: 0 auto;
}
.all_section{
  display: flex;
  justify-content: space-between;
  max-width: 1140px;
  margin: 0 auto;
  margin-top: 50px;
}
.footer_img{
  max-width: 359px;
}
.first_nav ul li {
  list-style: none;
}
.first_nav  ul li a{
  text-decoration: none;
  color: rgb(107, 114, 128);
  line-height: 52px;
}
.second_nav ul li {
  list-style: none;
}
.second_nav ul li a {
  text-decoration: none;
  color: rgb(107, 114, 128);
   line-height: 52px;
  
}
.socal_link img{
  margin: 0 10px;
}

  



/* mobile section style  */

@media screen and (max-width: 768px) {
  /* nav section style  */
  .show_item {
    display: none;
  }

  .nav_section {
    margin: 25px 16px;
  }
  /* ALWAYS FRESH FLOWERS section  */
  .fresh_flowers {
    flex-direction: column-reverse;
  }
  .alwayea_section h2 {
    font-size: 1.5rem;
    max-width: 191px;
    line-height: 33px;
    padding-left: 20px;
    margin-top: 35px;
    margin-bottom: 15px;
  }
  .alwayea_section img{
    width: 100%;
  }
  .alwayea_section p {
    font-size: 0.87rem;
    padding: 0 20px;
  }

  /* our plants section style  */
  .plants_img_section {
    grid-template-columns: repeat(2, 1fr);
  }
  .plants_section h3 {
    font-size: 1.5rem;
  }
  .plants_section p {
    font-size: 0.87rem;
  }
  .plants_img {
    padding: 20px;
  }
  .plants_img img {
    max-width: 171px;
  }
  .plants_img button {
    padding: 20px 40px;
    margin-top: 30px;
    margin-bottom: 5px;
  }
  .plants_img h4 {
    margin: 10px 0;
  }
  /* flower plants section style  */
  .flower_plants {
    flex-direction: column;
    margin-left: 10px;
    gap: 50px;
  }
  .img_logo {
    display: none;
  }
  .first_img {
    max-width: 400px;
  }

  .flower_text ul li {
    font-size: 0.87rem;
  }
  .flower_text ul li {
    margin-left: 25px;
  }
  .flower_text h4 {
    font-size: 1.5rem;
    margin-left: 15px;
  }
  /* letes deals section style  */
.small_card img{
  padding: 10px;
}
.right_card img{
  padding: 10px;
}

  .latest_text{
  margin-top: 50px;
  margin-bottom: 50px;
}
.latest_text h2{
  font-size: 1.5rem;
}
.latest_text p {
  font-size: .87rem;
}
  .cards{
    flex-direction: column;
    
  }
  .right_card img{
    width: 100%;
  }
  .left_card img{
    width: 100%;
  }
  #text{
    font-size: 1.25rem;
  }
  #text_small{
    font-size: 1rem;
  }
  .text_right{
    top: 100px;
    left: 120px;
  }
  /* joind the colorful section  */
  .join_section{
    height: 275px;
    padding-left: 10px;
   
  }
  .form label{
    font-size: 1.25rem;
  }
  .colorful{
    padding-top: 107px;
  }
  #email{
    padding: 15px 40px;
  }
  #submit{
    padding: 15px 20px;
  }
  /* footer  */
  .all_section{
    flex-direction: column;
    padding-left: 30px;
  }
  
}
